<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Este é meu site pessoal, feito por mim.">
    <meta name="keywords" content="Meu, site, Enrico, Sobrinho, Gregório, experiência, educação, trabalhos, pessoal, estudante, sociais, programador">
    <title>Enrico</title>
    <link rel="stylesheet" href="../static/styles/error404.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon_io/site.webmanifest">
</head>

<body>
    <header>
        <div>
            <h1 id="logo"><a href="/" target="_self">Home</a></h1>
        </div>
        <nav class="desktop">
            <ul>
                <li><a href="/contato" target="_self">Contato</a></li>
            </ul>
        </nav>
        <button class="menu-button">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </button>
        <nav class="mobile">
            <ul>
                <li><a href="/contato" target="_self">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Erro 404.</h1>
        <p>Essa página não existe! <a href="/" target="_self">Clique aqui</a> para voltar para a página principal.</p>
    </main>
    <footer>
        <div id="contato">
            <div class="sociais">
                <h3>Redes sociais</h3>
                <ul>
                    <li><i class="fab fa-github"></i><a href="https://github.com/EnricoGregorio/" target="_blank">Meu perfil do GitHub</a></li>
                    <li><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/esg/" target="_blank">Meu perfil do LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <p>Todos os direitos reservados <strong>₢ Enrico Sobrinho Gregório</strong> - <span id="copyright-year"></span></p>
    </footer>
    <button id="return-button" title="Voltar ao topo">
        <i class="fas fa-chevron-up"></i>
    </button>
    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>
</body>

</html>